.idea/
.gradle/
.cxx/
afat/
build/
obj/
*.iml
local.properties
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
Keytool.zip
Cherrygram.jks
mykey.jks
actions-runner
TMessagesProj/jni/ffmpeg/build_android

# local credentials
.forgejo-token.env
telegram-config.txt
